.create-drug-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.left-side {
  width: 48%;
}

.right-side {
  width: 48%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

p.success-message {
  color: green;
  margin-top: 10px;
}
